<head th:fragment="Head">
<head>
<link
	href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
	rel="stylesheet"
>
	
<!-- Bootstrap core CSS -->
<link th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">


<!-- Additional CSS Files -->
<link rel="stylesheet" th:href="@{assets/css/fontawesome.css}">
<link rel="stylesheet" th:href="@{assets/css/templatemo-sixteen.css}">
<link rel="stylesheet" th:href="@{assets/css/owl.css}">


<!-- Bootstrap core JavaScript -->
<script th:src="@{vendor/jquery/jquery.min.js}"></script>
<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</head>
</head>


	<!-- Header -->
	<div th:fragment="Header">
		<header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="index.html"><h2>Sixteen <em>Clothing</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="index.html">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="products.html">Our Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

	</div>
	
		<!-- Footer -->
		<div th:fragment="Footer">
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="inner-content">
							<p>
								Copyright &copy; 2020 Sixteen Clothing Co., Ltd. - Design: <a
									rel="nofollow noopener" href="https://templatemo.com"
									target="_blank">TemplateMo</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
