<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout ">

<head>
<link
	href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
	rel="stylesheet"
>
	
<!-- Bootstrap core CSS -->
<link th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">


<!-- Additional CSS Files -->
<link rel="stylesheet" th:href="@{assets/css/fontawesome.css}">
<link rel="stylesheet" th:href="@{assets/css/templatemo-sixteen.css}">
<link rel="stylesheet" th:href="@{assets/css/owl.css}">


<!-- Bootstrap core JavaScript -->
<script th:src="@{vendor/jquery/jquery.min.js}"></script>
<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</head>
<body>
	<div th:replace="fragments/Custommer/UserLayoutHeader:: Header"></div>

	<div layout::fragment="content">
		<div>
			<br>
			<br>
			<br>
			<h1>binh an</h1>
			<h1>binh an</h1>
			<h1>content</h1>
		</div>
	</div>

	<div th:replace="fragments/Custommer/UserLayoutFooter:: Footer"></div>
</body>
</html>